@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap");

body {
  margin: 0;
  background-image: linear-gradient(90deg, #010101, #7f0b9c);
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}
header {
  height: 200px;
  width: 100%;
  background-image: linear-gradient(#010101, #9d0ec0);
  justify-content: center;
}

.theBzt {
  width: 175px;
  height: 175px;
  margin-top: 12.5px;
  margin-left: 12.5px;
}

a {
  font-size: 65px;
  color: white;
}

.aa {
  position: absolute;
  left: 250px;
  top: 60px;
}
.ab {
  position: absolute;
  left: 575px;
  top: 15px;
}

.ac {
  position: absolute;
  left: 575px;
  top: 100px;
}

.ad {
  position: absolute;
  left: 875px;
  top: 15px;
}
.ae {
  position: absolute;
  left: 875px;
  top: 100px;
}

.af {
  position: absolute;
  left: 1075px;
  top: 60px;
}

.changer {
  position: absolute;
  font-size: 80px;
  left: 1400px;
  bottom: 710px;
}

p {
  font-size: 45px;
}

.kasasaken {
  height: 100px;
  width: 250px;
}

.baby {
  height: 200px;
  width: 175px;
}

.version {
  position: absolute;
  left: 1600px;
  top: 420px;
  font-size: 20px;
}

.disc {
  text-align: center;
}

.achievents_spisok {
  display: flex;
  color: white;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-image: linear-gradient(90deg, #010101, #7f0b9c);
}

.images_achk_hide {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
}

.Challenges_hide img {
  width: 450px;
  height: 70px;
}
.Challenges_hide {
  text-align: center;
}

.SurvSc_hide {
  text-align: center;
}

.SurvSc_hide img {
    width: 450px;
    height: 70px;
}

.KillerSc_hide {
  text-align: center;
}

.KillerSc_hide img {
    width: 450px;
    height: 70px;
}

.Fun_hide {
  text-align: center;
}

.Fun_hide img {
    width: 650px;
    height: 100px;
}

.comp_hide {
  text-align: center;
}

.comp_hide img {
    width: 800px;
    height: 400px;
}

.images_achk_hide,
.Challenges_hide,
.SurvSc_hide,
.KillerSc_hide,
.Fun_hide,
.comp_hide,
.Milestones_hide {
    display: none;
}

td {
  border: 1px double black;
  text-align: center;
}
.main_music {
  justify-content: center;
  align-items: center;
}

.survivors_spisok {
  justify-content:space-around;
  display: flex;
}

.killers_spisok {
  display: flex;
  justify-content: space-around;
}

.jason_hide, .coolkid_hide, .john_hide, .noli_hide, .xxx_hide {
  display: none;
  flex-direction: row;
  gap: 20px;
}

.abil {
  width: 50px;
  height: 50px;
}
.achievents_spisok p, .killers_spisok p{
  cursor: pointer;
  transition: 0.3s linear;
}

.achievents_spisok p:hover, .killers_spisok p:hover {
  transform: scale(1.2);
}

.chaseThemes, .LMS{
  border-collapse: collapse;
  width: 100%;
  background: transparent;
}

audio{

  border: 10px solid black;
  border-radius: 100px;
  outline: none;
  background-color: transparent;
  transition: 0.2s ;

  &:hover {
    transform: scale(1.1);
  }
}